.repeater {

  svg {

    width: 18px;
    height: auto;
    pointer-events: none;
  }

  &.repeater-bootstrap {

    --bs-gray-bg: var(--bs-light);

    border: 1px solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);

    & > .repeater-items {

      min-height: 2.25rem;

      &:empty {

        &::after {

          content: attr(data-placeholder);
          text-align: center;
          padding: 1rem;
          display: block;
          color: var(--bs-secondary);
          font-style: italic;
        }
      }

      & > .repeater-item {

        & > .item-header {

          display: flex;
          justify-content: space-between;
          background-color: var(--bs-gray-bg);
          border-bottom: 1px solid var(--bs-border-color);
          flex-direction: column;
          transition: opacity 200ms;

          @media(min-width: 768px) {

            flex-direction: row;
          }

          .header-title {

            display: flex;
            padding: 0.25rem;

            a {

              display: flex;
              text-decoration: none;
              width: 1.75rem;
              height: 1.75rem;
              border-radius: 1.75rem;
              justify-content: center;
              align-items: center;
              color: var(--bs-secondary);
              transition: all 350ms;

              &:hover {

                background-color: var(--bs-secondary);
                color: var(--bs-white);
              }
            }

            span {

              font-size: 0.85rem;
              display: flex;
              align-items: center;
              padding-left: 0.5rem;
              transition: all 350ms;
            }
          }

          .header-actions {

            display: flex;
            background: var(--bs-body-bg);
            position: relative;
            padding: 0.25rem;
            justify-content: end;
            border-top: 1px solid var(--bs-border-color);

            @media(min-width: 768px) {

              border-top: none;
              border-left: 1px solid var(--bs-border-color);

              &::after {

                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 1px;
                background: var(--bs-body-bg);
              }
            }

            a {

              display: flex;
              text-decoration: none;
              width: 1.75rem;
              height: 1.75rem;
              border-radius: 1.75rem;
              justify-content: center;
              align-items: center;
              color: var(--bs-secondary);
              transition: all 350ms;

              &:not(:last-child) {

                margin-right: 0.25rem;
              }

              &[data-action=paste] {

                pointer-events: none;
                opacity: 0.5;
              }

              &:hover {

                background-color: var(--bs-primary-bg-subtle);
                color: var(--bs-primary);

                &[data-action=delete] {

                  background-color: var(--bs-danger-bg-subtle);
                  color: var(--bs-danger);
                }
              }
            }
          }
        }

        & > .item-fields {

          padding: 1rem;
          transition: opacity 200ms;

          .field {

            label {

              &:not(.form-check-label) {

                color: var(--bs-secondary);
                font-size: 0.85rem;
              }
            }

            &:not(:last-child) {

              margin-bottom: 1rem;
            }
          }

          .row {

            &:not(:last-child) {

              margin-bottom: 1rem;
            }

            [class^=col-lg-] {

              & > .field {

                margin-bottom: 0 !important;
              }
            }
          }
        }

        &:first-child {

          & > .item-header {

            border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;

            .header-actions {

              @media(min-width: 768px) {

                border-radius: 0 var(--bs-border-radius) 0 0;
              }

              a {

                &[data-action=moveUp] {

                  opacity: 0.5;
                  pointer-events: none;
                }
              }
            }
          }
        }

        &:last-child {

          & > .item-header {

            a {

              &[data-action=moveDown] {

                opacity: 0.5;
                pointer-events: none;
              }
            }
          }
        }

        &:not(:last-child) {

          border-bottom: 1px solid var(--bs-border-color);
        }

        &.is-collapsed {

          & > .item-header {

            border-bottom: none;

            .header-title {

              span {

                color: var(--bs-secondary);
              }

              a {

                background-color: var(--bs-secondary-bg-subtle);

                &:hover {

                  background-color: var(--bs-secondary);
                }
              }
            }

            .header-actions {

              background: transparent;
              border-left: none;

              &::after {

                display: none;
              }

              a {

                &[data-action=copy] { display: none; }
                &[data-action=paste] { display: none; }
              }
            }
          }

          & > .item-fields {

            display: none;
          }
        }

        &.is-moving {

          pointer-events: none;
          position: relative;
          z-index: 5;

          .item-fields,
          .item-header {

            opacity: 0.5;
          }
        }
      }
    }

    & > .repeater-actions {

      padding: 1rem;
      background-color: var(--bs-gray-bg);
      border-top: 1px solid var(--bs-border-color);
      text-align: right;
      border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
    }

    &.has-copy-data {

      & > .repeater-items {

        & > .repeater-item {

          & > .item-header {

            .header-actions {

              a {

                &[data-action=paste] {

                  pointer-events: initial;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

[data-bs-theme=dark] {

  .repeater {

    &.repeater-bootstrap {

      --bs-gray-bg: var(--bs-tertiary-bg);
    }
  }
}
